<li class='card'>
  <div class='card-header' style='width: 250px; height: 190px;'>
    <img
      class=''
      style='width: 100%; height: 100%; vertical-align: middle;'
      src={{img_url}}
      alt=''
    />
  </div>
  <div class='card-body'>
    <h4>{{title}}</h4>
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>{{comments}}</p>
    <p>$ {{price}}</p>
  </div>
</li>