<nav class="">
  <ul class="">
    <li class=""><a href="/" class="">Home</a></li>
    <li class=""><a href="/dashboard" class="">Dashboard</a></li>
    <li class=""><a href="/signup" class="">Signup</a></li>
    <li class=""><a href="/age" class="">Age</a></li>
    <li class=""><a href="/news/2" class="">Post news 2</a></li>
  </ul>
</nav>