{{>partials/header}}

  <section class="">
    <h2>01 - RENDER DATA</h2>
    <div class="">
      <div class="" style="width: 300px;">
        <img class="" style="width: 100%;" src={{house01.img_url}} alt={{house01.title}} />
      </div>
      <div class="">
        <h4>{{house01.title}}</h4>
        <p>Category: {{house01.category}}</p>
        <p>Rooms: {{house01.rooms}}</p>
        <p>Garage: {{house01.garage}}</p>
        <p>M²: {{house01.mts}}</p>
      </div>
    </div>
  </section>
  
  <section class="">
    <h2>02 - RENDER CONDITIONAL IF</h2>
    {{#auth}}
      <p>Acces allowed <a href='/dashboard'>Access dasboard</a></p>
    {{/auth}}
  </section>
  
  <section class="">
    <h2>03 - RENDER CONDITIONAL IF - ELSE IF</h2>
    {{#showOld}}
      <p>É maior de idade</p>
    {{/showOld}}
    {{^showOld}}
      <p>É menor de idade</p>
    {{/showOld}}
  </section>
  
  <section class="">
    <h2>03 - RENDER CONDITIONAL IF - ELSE IF</h2>
    {{#approved}}
      <p>Acces allowed <a href='/dashboard'>Access dasboard</a></p>
    {{/approved}}
    {{^approved}}
      <p>Access danied: <a href='/signup'>Signup</a></p>
    {{/approved}}
  </section>
  
  <section class="">
    <h2>04 - RENDER LIST</h2>
    <ul>
      {{#items}}
        <li>
          {{.}}
        </li>
      {{/items}}
    </ul>
  </section>
  
  <section class="">
    <h2>05 - RENDER LIST OBJ</h2>
    <ul class='' style='display: flex; gap: 16px;'>
      {{#posts}}
        {{>partials/card}}
      {{/posts}}
    </ul>
  </section>
  
  <section class="">
    <h2>07 - RENDER LIST EXPANSIVE</h2>
    <ul class='' style='display: flex; gap: 16px;'>
      {{#expansive}}
        {{>partials/card}}
      {{/expansive}}
    </ul>
  </section>
  
{{>partials/footer}}