{{>partials/header}}

  <form method="GET">
    <h1>Sign up</h1>

    <input class='' type="text" name='name' id='name' placeholder='Enter your name' />
    {{! <input class='' type="password" name='password' id='password' placeholder='Enter your password' /> }}
    <input class='' type="submit" value="Register" />
  </form>

  {{#name}}
    <p>Fala Dev! {{name}}</p>
  {{/name}}


{{>partials/footer}}