$primary: #117050;
$secondary: #fff;
$dark: #111111;
$neutral: #999;
$bg-neutral: #e8e9ee;
$neutral-200: #454545;
$neutral-300: #333;

$type-1: 'Open Sans', sans-serif;
$type-2: 'Oswald', sans-serif;
