// COLORS
$light: #fff;
$dark: #141414;
$dark-100: #202020;
$dark-200: #2b2b2b;
$gray: #999;
$primary-100: #FE6A0F;

// FONTS
$font-body: 'Inter', sans-serif;
$font-title: 'Calistoga', serif;