* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  margin: 8;
  background: #333;
  color: #f4f4f4;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    text-align: center;
    font-size: 60px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;

    a {
      flex: 1;
      font-size: 32px;
      padding: 8px;
      background: #f4f4f4;
      color: #333;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border: 1px solid #ccc;
      text-align: center;
    }
  }

  button {
    padding: 10px;
    text-align: center;
    background: #333;
    color: #f4f4f4;
    cursor: pointer;
  }
}
