
header {
  position: fixed;
  left:0;
  top:0;
  right:0;
  height:60px;
  background-color:#399ade;
  display:none;
  justify-content: flex-end;
  align-items: center;
}

.menu-openner {
  margin-right: 15px;
  font-size: 26px;
  background-color: #a9dcff;
  padding: 5px 20px;
  border-radius: 5px;
}
.menu-openner span {
  margin-right:10px;
  padding: 15px;
  cursor: pointer;
}
.menu-closer {
  width:32px;
  height:32px;
  display:none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}
